td.black-block , td.white-block {
    width:70px;
    height: 70px;
    text-align: center;
}
h1{
    text-align: center;
}
td.black{
    height: 50px;
    width: 50px;
}
/*
span {
    width: 100%;
    height: 100%;
    background-color: aqua;
}
*/
img{
    height:55px;
    width: 55px;
    text-align:center;
    
    
}
.black-block{
    background-color: #1E8449  ;
}
.white-block{
    background-color: white;
}

table, th, td {
   border: 4px groove #1F3D2A;
}
table {
    margin-bottom: 15px;
}
#ccc{
    height: 70px
}
#b{
    position: relative;
    z-index:10;
}
#w{
    position: relative;
    z-index: 10;
}